<h2>Note Page</h2>
<a class="noteListPage" href="/">Note List</a>

<section id="the-new-note">
    <h3>Note ID</h3>
	<div class="nodeId" id="new-note-id">{{mynote.id}}</div>

	<h3>Note Title</h3>
	<div class="nodeTitle" id="new-note-name">{{mynote.title}}</div>

	<h3>Note Due Date</h3>
	<div class="nodeDue" id="new-note-due-date">{{mynote.dueDate}}</div>

	<h3>Note Summary</h3>
	<div class="noteSummaray" id="new-note-summary">{{mynote.summary}}</div>

	<h3>Note Body</h3>
	<div class="noteBody" id="new-note-body">{{mynote.body}}</div>
</section>

<button id="open-next-note">Open Next Note</button>
