<div class="row">
  <div class="col-sm-12">
    <form class="server-form" method="post">
      <div class="form-group">
        <label for="string1">Text Area</label>
        <input type="text" class="form-control" id="string1" name="string1" placeholder="Text Area" value="{{firstString}}">
      </div>
      <div class="form-group">
        <label for="string2">Insert String</label>
        <input type="text" class="form-control" id="string2" name="string2" placeholder="Insert String" value="{{secondString}}">
      </div>
      <div class="form-group">
        <label for="number1">Insert Times of the Insert String</label>
        <input type="number" class="form-control" id="number1" name="number1" placeholder="Insert Times" value="{{firstNumber}}">
      </div>
      <div class="form-group">
        <label for="number2">Number of Characters Between Each Insert</label>
        <input type="number" class="form-control" id="number2" name="number2" placeholder="Number of Characters" value="{{secondNumber}}">
      </div>
      {{#if error }}
      <div class="form-group">
        <div class="alert alert-danger">
          {{ error }}
        </div>
      </div>
      {{/if}}
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      {{#if result }}
      <div class="form-group">
        <div class="alert alert-success">
          The result is: {{ result }}
        </div>
      </div>
      {{/if}}
    </form>
  </div>
</div>
